/* src/app/globals.css */

@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 240, 240, 240;
}

body {
  color: rgb(var(--foreground-rgb));
  /* Eliminamos el fondo predeterminado para que no interfiera con los gradientes de las secciones */
  background: #ffffff;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in;
}
